@mixin flex($display, $justify-content, $align-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-content: $align-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}