.main{
  background-color: $color-white;
  margin: 1rem;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal-compras{
  color: $color-black;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 60px;
}
nav{
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.menu-li{
  list-style: none;
}
.menu-li a{
  text-decoration: none;
}

.boton-menu{
  background-color: $color-black;
  border: 0;
  color:  $color-white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
}

.boton-menu.active{
  background-color: $color-white;
  color: $color-black;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-menu.active::before{
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 1rem 0 $color-white;
}

.boton-menu.active::after{
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  border-top-right-radius: .5rem;
  box-shadow: 0 -1rem 0 $color-white;
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb{
  transform: rotateZ(90deg);
}

.boton-carrito{
  margin-top: 2rem;
}
.numerito{
  background-color: $color-white;
  color: $color-black;
  padding: 0 .25rem;
  border-radius: .25rem;
}

.boton-carrito.active .numerito{
  background-color: $color-black;
  color: $color-white;
}
#contenedorProductos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#producto{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid $color-black;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.25em $color-gray;
  width: 80%;
}

.producto-imagen{
  width: 220px;
  height: 220px;
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalle{
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo{
  font-size: 1rem;

}

.agregar{
  border: 0;
  background-color: $color-white;
  color: $color-black;
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid $color-white;
  transition: background-color .2s color .2s;
}

.agregar:hover{
  background-color: $color-black;
  color: $color-white;
}