.main{
  background-color: $color-white;
  margin-left: 5px;
}
.contenedor-titulo-carrito{
  width: 810px;
  height: 120px;
  margin-left: 5px;
}
a {
  text-decoration: none;
}
.titulo-principal-compras{
  color: $color-black;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
  height: 60px;
}
// .contenedor-carrito{
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: flex-end;
//   width: 650px;
// }

.boton-menu{
  background-color: $color-black;
  border: 0;
  color:  $color-white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
  width: 200px;
}

.boton-menu.active{
  background-color: transparent;
  color: $color-black;
  width: 200px;
  max-width: 100%;
  border-radius: 1rem;
  position: relative;
}

.boton-menu.active::before{
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  bottom: 100%;
  right: 0;
  border-radius: .5rem;
  box-shadow: 0 1rem 0 $color-white;
}

.boton-menu.active::after{
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  border-radius: .5rem;
  box-shadow: 0 -1rem 0 $color-white;
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb{
  transform: rotateZ(90deg);
}

.modal-contenedor{
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: none;
  top: 0;
  left: 30px;
  height: 150px;
  width: 790px;
}

.modal{
  background-color: $color-gray;
  width: 650px;
  height: 150px;
  max-width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.boton-carrito{
  margin-top: 2rem;
}
.numerito{
  background-color: $color-white;
  color: $color-black;
  padding: 0 .25rem;
  border-radius: .25rem;
}

.boton-carrito.active .numerito{
  background-color: $color-black;
  color: $color-white;
}
#contenedorProductos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;
}

#producto{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid $color-black;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.25em $color-gray;
  width: 70%;
}

.producto-imagen{
  width: 220px;
  height: 220px;
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalle{
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo{
  font-size: 1rem;

}

.agregar{
  border: 0;
  background-color: $color-white;
  color: $color-black;
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid $color-white;
  transition: background-color .2s color .2s;
}

.agregar:hover{
  background-color: $color-black;
  color: $color-white;
}