.cards-container{
    width: 1263px;
    height: 400px;
    @include flex(flex, wrap, row, space-around, center, none);
  }
  .card-container{
    width: 210px;
    height: 377px;
    padding: 3px 3px;
    border: 1px solid $color-black;
    img{
      width: 200px;
      height: 300px;
      border-radius: 3px;  
    }
    p{
      font-size: 22px;
      font-weight: 200;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    a{
      text-decoration: none;
      color: $color-black;
    }
  }