h1{
    font-family:'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
}
.carrousel-container{
    @include flex(flex, wrap, row, none, none, none);
}
#contentitemcarrousel{
    width: 1263px;
    height: 400px;
    overflow: hidden;
    .item-carrousel{
        height: 100%;
        position: relative;
        .card-carrousel{
            height: 100%;
            @include flex(flex, wrap, row, space-evenly, center, none);
            .card-container{
                width: 210px;
                height: 395px;
                padding: 3px 3px;
                border: 1px solid $color-black;
                img{
                    width: 200px;
                    height: 300px;
                    border-radius: 3px; 
                    p{
                        font-size: 22px;
                        font-weight: 200;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        &:hover{
                            transform: scale(1.1,1.1);
                            transition: transform 100ms 0.2s;
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.flechas-carrousel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    @include flex(flex, none, none, space-between, center, none);
    padding: 20px;
}

i{
    color: $color-black;
    img{
        width: 15px;
        height: 15px;
    }
}
