.main-container{
    font-family: 'Roboto', sans-serif;
    background-color: $color-lightwhite;
    background-image:  radial-gradient($color-darkblue 0.5px, transparent 0.5px), radial-gradient($color-darkblue 0.5px, $color-lightwhite 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    @include flex(flex, wrap, row, center, center, none);
    min-height: 100vh;
}
.form{  
    background-color: $color-white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    text-align: center;
}
.form-titulo{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form-subtitulo{
    font-weight: 300;
}
.form-link{
    font-weight: 400;
    color: $color-black;
}
.form-container{
    margin-top: 3em;
    display: grid;
    gap: 1.5em; 
}
.form-grupo{
    position: relative;
    color: #5757577e;
}
.registrate a {
    color: black;
}
.form_input{
    width: 100%;
    background: none;
    color: $color-gray;
    font-size: 1rem;
    padding: .6em .3em;
    border: 2px solid $color-lightblue;
    outline: none;
    border-bottom: 1px solid $color-lightblue;
}
.form-input:not(:placeholder-shown) + .form-label{
    color: $color-marron; 
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7); 
    transform-origin: left top;
    color: $color-lightblue;
}
.form-label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 15px;
    transition: transform .5s, color .3s;
}
.form_submit{
    background-color: $color-lightblue;
    color: $color-white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: 2px solid $color-black;
    border-radius: .5em;
}
.form-linea{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-lightblue;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}
.form-input:focus ~ .form-linea,
.form-input:not(:placeholder-shown) ~ .form-line{
    transform: scale(1);
}