@media (max-width: 768px){
    #contentitemcarrousel{
        width: 768px;
        .item-carrousel{
            // display: flex;
            // flex-direction: column;
            // flex-wrap: wrap;
            .card-carrousel{
                // display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;
                .card-container{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 200px;
                    height: 367px;
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 425px){
    #contentitemcarrousel{
        width: 425px;
        .item-carrousel{
            .card-carrousel{
                .card-container{
                    display: none;
                    &:first-child{
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width: 375px){
    #contentitemcarrousel{
        width: 375px;
        .item-carrousel{
            .card-carrousel{
                .card-container{
                    display: none;
                    &:first-child{
                        display: block;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px){
    #contentitemcarrousel{
        width: 320px;
        .item-carrousel{
            .card-carrousel{
                .card-container{
                    display: none;
                    &:first-child{
                        display: block;
                    }
                }
            }
        }
    }
}