h1{
    font-family:'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
}
.carrousel-container{
    @include flex(flex, wrap, row, none, none, none);
}
#contentitemcarrousel{
    width: 1263px;
    height: 400px;
    overflow: hidden; 
}
.item-carrousel{
    height: 100%;
    position: relative;
}
.card-carrousel{
    height: 100%;
}
.flechas-carrousel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    @include flex(flex, none, none, space-between, center, none);
    padding: 20px;
}
#card-carrousel-19{
    @include flex(flex, wrap, row, space-evenly, center, none);
}
#card-carrousel-20{
    @extend #card-carrousel-19;
}
#card-carrousel-21{
    @extend #card-carrousel-19;
}
#card-carrousel-22{
    @extend #card-carrousel-19;
}
#card-carrousel-23{
    @extend #card-carrousel-19;
}
#card-carrousel-24{
    @extend #card-carrousel-19;
}
#card-carrousel-25{
    @extend #card-carrousel-19;
}
#card-carrousel-26{
    @extend #card-carrousel-19;
}
#card-carrousel-27{
    @extend #card-carrousel-19;
}
a{
    text-decoration: none;
}
i{
    color: $color-black;
    img{
        width: 15px;
        height: 15px;
    }
}
.card-container{
    width: 210px;
    height: 377px;
    padding: 3px 3px;
    border: 1px solid $color-black;
}
.card-container img{
    width: 200px;
    height: 300px;
    border-radius: 3px;  
}
.card-container p{
    font-size: 22px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}